@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{
	font-family: 'Nanum Pen Script', cursive;
}
.bg-blue{
	background-color: pink;
}
.myborder{
	border: 1px solid #fff;
}
.mycenter{
	text-align: center;
}
.myright{
	text-align: right;
}
